@font-face {
    font-family: Fallout;
    src: url(/fonts/fallout-monofonto-regular.woff2);
}

@font-face {
    font-family: Disco;
    src: url(/fonts/disco-sinanova-regular.woff2);
}

@font-face {
    font-family: Minecraft;
    src: url(/fonts/monocraft.woff2);
}

@font-face {
    font-family: TF2;
    src: url(/fonts/tf2build-thick.woff2);
}

.page-advert{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-row: 2;
    font-family: Fallout;
    width: 100%;
    margin-top: 10%;
}

.page-advert > div {
    font-size: xx-large;
    text-align: center;
    color:antiquewhite;
    width: 7em;
    margin: 1em;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.advert-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.home-container {
    display: grid;
    grid-template-rows: 1fr 3fr auto;
    justify-content: center;
    position: absolute;
}

.profile-heading {
    grid-row: 1;
    margin-top: 5%;
    color: azure;
}

.home-footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    grid-row: 3;
    font-size: 0.8em;
    color:azure;
}